body { font-family: "Microsoft Yahei", "Hiragino Sans GB", SimSun, Arial, "Helvetica Neue", Helvetica; }
body.login { margin-top: 0px; background-image: url(../images/public/wp5.jpg); overflow-x: hidden; padding: 50px; }
input.password { width: 100%; }
input[type='color'] { vertical-align: middle; }
h2 { margin-bottom: 30px; }
h3.name-title { font-size: 20px; white-space: nowrap; line-height: 34px; }
h4.store_name { margin: 0 0 5px 0; padding: 0.2em 0; }
label { padding: 6px 12px; }
label.not { padding: 0; font-weight: normal; }
p { padding: 6px 12px; }
p.store_info { margin: 0px; line-height: 1.5; font-size: 13px; text-indent: 2em; width: 320px; }
span.SequenceID { width: 50px; display: block; }
span.SequenceID input { width: inherit; }
span.title { display: block; padding: 5px; }
span.title i { display: inline-block; border-radius: 5px; width: 30px; height: 10px; margin-right: 15px; margin-left: 15px; }
span.title i.blue { background-color: rgb(89, 155, 239); }
span.title i.green { background-color: rgb(94, 203, 105); }
span.tree_name { width: 180px; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; display: inline-block; margin-left: 5px; margin-right: 5px; }
span.tree_level { width: 180px; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; display: inline-block; margin-left: 5px; margin-right: 5px; }
span.tree_time { width: 180px; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; display: inline-block; margin-left: 5px; margin-right: 5px; }
table.role { margin-bottom: 0px; }
table.role label { font-weight: normal; }
table.role tr { border-bottom: 1px solid #ddd; }
table.role tr th, table.role tr td { height: 50px; line-height: 34px !important; width: 170px; border-top: none !important; max-width: 170px; display: table-cell; float: left; }
table#setting td { border: none; }
table#setting td input,
table#setting td textarea { width: 400px !important; resize: none; }
table tr.info th { background-color: #eee !important; }
table.tablesorter thead { cursor: pointer; }
th.length { width: 140px; }
td.length { max-width: 80px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
td.leng { max-width: 120px; }
td.leng .btn { width: 100%; white-space: nowrap; text-align: center; text-indent: 0; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
td span.nowrap { width: auto; max-width: 200px; white-space: nowrap; overflow: hidden; overflow: -moz-hidden-unscrollable; -ms-text-overflow: ellipsis; text-overflow: ellipsis; display: inline-block; }
tr td, select { height: 34px; line-height: 29px !important; vertical-align: middle !important; }

select { display: table-cell; width: 100px; border: 1px solid #ccc; }
title.text-title { display: block; width: 100%; height: 34px; line-height: 34px; margin-bottom: 15px; font-size: 18px; }
textarea { outline: none; resize: none; width: 100%; }
img.img-circle { max-width: 100px; }
img.img-small { max-width: 50px; }
img.img-max { width: 200px; }
a.thumbnail { width: auto; height: auto; max-width: 80px; max-height: 80px; margin: 0; }
.bg-ipone { z-index: -1; }
.btn-red { background-color: #FF9090; color: white; }
.top_nav_btn { padding: 0; font-weight: bold; }
.godown_btn { z-index: 99; display: none; position: fixed; width: 850px; height: 50px; left: 50%; bottom: 0; margin-left: -350px; background-color: #FFC; vertical-align: middle; padding: 8px 0px; }
.active .godown_btn { display: block; }
.dropdown-menu { min-width: 100px; }
.table-responsive.showdoan { overflow-x: inherit; }
.alert { margin-bottom: 0; display: none; }
.alert.in { display: block; }
.modal-body { padding: 15px 15px 0 15px; }
.left_tab_nav { display: none; }
.left_tab_nav.open { display: block; }
.fa { width: 16px; height: 16px; text-align: center; }
.fa-caret-left { margin-left: -15px; }
.fa-caret-right { margin-right: -15px; }
.float-right { float: right; }
.float-left { float: left; }
.form-control { font-size: 12px; }
.panel { margin-bottom: 0px; }
.panel-group { margin-bottom: 0px; }
.panel-group .panel { margin-top: 0px !important; border: none; box-shadow: none; }
.panel-success { border: none; }
.carousel-indicators.store { bottom: 0; }
.carousel-control .fa { width: 30px; top: 50%; position: relative; height: 30px; margin-top: -15px; font-size: 30px; }
.form-group { margin-bottom: 0px; }
.row { margin-bottom: 15px; }
.alert { margin-top: 5px; }
.alert-info { display: none; }
.np { padding-left: 0px; padding-right: 0px; }
.npl { padding-left: 0px; }
.npr { padding-right: 0px; }
.navbar-right .dropdown-menu { right: auto; left: 0; }
.file_btn { position: relative; }
.file_input { position: absolute; opacity: 0; left: 0; top: 0; width: 100%; height: 100%; }
.input-group.mb { margin-bottom: 15px !important; }
.input-group-btn:last-child > .btn { border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important; }
.input-group-btn .fa { font-size: 15px; height: 20px; line-height: 20px; text-align: center; }
.form-group .form-control:last-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.form-horizontal .control-group { min-height: 30px; `}
.breadcrumb > li.float-right:before { content: "\f059"; color: #337ab7; font: normal normal normal 14px/1 FontAwesome; }
.prod-info { position: absolute; width: 20em; height: 32em; left: 50%; margin-left: -10em; top: 9em; overflow-y: hidden; overflow-x: hidden; background-color: #eee; }
.prod { padding-top: 5px; padding-bottom: 5px; background-color: white; width: 20em; line-height: 3em; padding-right: 5px; padding-left: 5px; border-radius: 10px; margin-bottom: 15px; }
.prod:last-child { margin-bottom: 0; }
.prod p { margin-left: 10px; padding-right: 10px; line-height: 20px; text-indent: 2em; }
.prod-img { margin-bottom: 0px; width: 20em; height: 10em; overflow: hidden; border-radius: 0; }
.prod-img img { max-height: 100%; width: auto; max-width: 100%; height: auto; }
.prod-name { border-radius: 0 0 10px 10px; }
.prod-name span { float: right; color: red; }
.prod-name span i { margin-right: 5px; }
.activity-ipone { z-index: -1; }
.activity-body { position: absolute; width: 320px; height: 480px; left: 20px; top: 77px; overflow-y: scroll; overflow-x: hidden; z-index: 0; background-color: #fd1847; }
.activity-body#poster { overflow-y: hidden; width: 533px; height: 800px; left: 0px; top: 0px; position: relative; }
.activity-body#poster #code { position: absolute; display: block; width: 168px; height: 168px; z-index: 1; left: 20px; top: 300px; }
.activity-body#poster #head { position: absolute; display: block; width: 110px; height: 110px; z-index: 1; left: 25px; top: 15px; }
.activity-body#poster #name { position: absolute; display: block; width: 200px; height: 40px; z-index: 1; font-size: 18px; left: 200px; top: 20px; color: #000; }
.activity-body#poster #poster_bg, .activity-body#poster #poster_bg img { width: inherit; height: inherit; position: absolute; left: 0; top: 0; z-index: -1; }
.activity-body #result { position: absolute; width: inherit; height: inherit; left: 0; top: 0; z-index: 1; }
.activity-body #result img { width: 100%; height: 100%; z-index: 1; }
.activity-title { position: absolute; z-index: 2; left: 45px; top: 5px; font-size: 30px; font-weight: bold; color: rgba( 250, 250, 20, .8); background-image: gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 0, 1)), to(rgba(255, 255, 255, 1))); -webkit-background-clip: text; -webkit-text-fill-color: transparent; display: none; }
.separate-line-wrap { margin: 10px 0px 30px; padding: 1px 0px; }
.separate-line-wrap hr { border-color: #DDD; margin: 10px 0px; border-bottom: medium none; border-width: 1px 0px; }
.separate-line { margin-top: -16px; }
.separate-line p { line-height: 1em; width: 100px; font-size: 12px; margin: 0px auto; text-align: center; background-color: #F2F2F2; color: #999; }
.danger_txt { display: none; }
.danger_txt.in { display: block; }
.pagination { margin: 10px 0px; }
.jumbotron.welcome { padding: 200px 0; }
.jumbotron { padding: 25px; margin: 20px 0; }
.jumbotron p { font-size: 14px; line-height: 24px; }
.navbar { margin-bottom: -1px; }
.navbar-brand { width: 190px; }
.navbar-right { margin-right: 0px; }
.navbar-right .form-group { display: inline-flex; }
.navbar-nav > .active > a, .navbar-nav > .active:hover, .navbar-nav > .active > a:hover { color: #07d !important; background-color: transparent !important; }
.navbar-brand img { width: auto; height: 100%; float: left; }
.navbar-fixed-top { background-color: #F8F8F8; color: #fff; border-bottom: 1px solid #DDD; }
.navbar-toggle { background-color: #31B0D5; }
.navbar-toggle .icon-bar { background-color: white; }
.tab-pane .navbar { border-top: none; border-radius: 0px 0px 4px 4px; }
ul.nav-tabs li.active a { background-color: #f8f8f8; }
ul.nav-tabs > li { min-width: 100px; width: auto; max-width: 200px; }
ul.nav-tabs > li > a { width: inherit; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
ul.nav-tabs > li > a > span { position: absolute; right: 5px; top: 0px; }
.user-menu { margin-right: 10px; min-width: 90px; }
.treeview .list-group-item { cursor: pointer; vertical-align: middle; line-height: 1em; }
.js-message { position: fixed; max-width: 500px; z-index: 10000; top: 15px; left: 50%; margin-left: -225px; opacity: 0; -webkit-transition: all 1s; -o-transition: all 1s; transition: all 1s; }
.js-message.show { top: 35px; opacity: 1; width: 500px; }
.js-message.show .message-suceess, .js-message.show .message-error { padding: 7px 15px; display: block; }
.message-suceess { text-align: center; background-color: #d4edca; color: #777; display: none; }
.message-error { text-align: center; background-color: #f0edba; color: #b77; display: none; }
.success_btn,.error_btn { width: 80px; overflow: hidden; }
.mess_box { display: none; }
.mess_box.show { display: block }
.mask { width: 100%; height: 100%; background-color: #000; opacity: 0.8; position: fixed; left: 0px; top: 0px; z-index: 1000; }
.success .line_short { width: 25px; height: 5px; position: absolute; left: 14px; top: 46px; border-radius: 4px; background-color: #6C3; transform: rotate(45deg); animation: 0.65s ease 0s normal none 1 running success_short_Animation; }
.success .line_long { width: 47px; height: 5px; position: absolute; right: 8px; top: 38px; border-radius: 4px; background-color: #6C3; transform: rotate(-45deg); animation: 0.65s ease 0s normal none 1 running success_long_Animation; }
.tip .icon { width: 80px; height: 80px; background-color: #6C3; border-radius: 100%; color: #FFF; font-size: 80px; text-align: center; line-height: 80px; }
.icon { position: relative; width: 80px; height: 80px; border-radius: 50px; border: 4px solid #6C3; margin: 15px auto 5px; box-sizing: content-box; }
.icon_1 { position: relative; top: -2px; margin-right: 15px; }
.lose .icon { border-color: #FF9090; }
.lose .icon_box { animation: 0.5s ease 0s normal none 1 running lose_Animation; }
.lose .line_left, .lose .line_right { width: 47px; height: 5px; position: absolute; left: 17px; top: 37px; border-radius: 4px; background-color: #FF9090; transform: rotate(45deg); }
.lose .line_right { right: 11px; top: 37px; transform: rotate(-45deg); }
.load { box-sizing: content-box; }
.load { position: relative; width: 60px; height: 80px; border-radius: 50px; border: 4px solid #FFF; margin: 15px auto 5px; top: 10px; }
.load { position: relative; width: 60px; height: 80px; border-radius: 50px; border: 4px solid #fff; margin: 15px auto 5px auto; top: 10px }
.load .icon_box { margin: 10px auto; width: 60px; height: 60px }
.load .cirBox1, .load .cirBox2, .load .cirBox3 { width: 60px; height: 60px; position: absolute; left: 0; top: 0 }
.load .cirBox1>div, .load .cirBox2>div, .load .cirBox3>div { width: 10px; height: 10px; border-radius: 100%; background-color: #ccc; position: absolute }
.load .cirBox1 { -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); transform: rotate(30deg) }
.load .cirBox2 { -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); transform: rotate(60deg) }
.load .cirBox3 { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg) }
.load .cir1 { left: 0; top: 0 } .load .cir2 { right: 0; top: 0 } .load .cir3 { right: 0; bottom: 0 } .load .cir4 { left: 0; bottom: 0 }
.load .cir1, .load .cir2, .load .cir3, .load .cir4 { -webkit-animation: cir_Animation 1.2s ease 0 infinite; -moz-animation: cir_Animation 1.2s ease 0 infinite; animation: cir_Animation 1.2s ease 0 infinite }
.cirBox1 .cir2 { -webkit-animation-delay: -1.1s; -moz-animation-delay: -1.1s; animation-delay: -1.1s }
.cirBox1 .cir3 { -webkit-animation-delay: -0.8s; -moz-animation-delay: -0.8s; animation-delay: -0.8s }
.cirBox1 .cir4 { -webkit-animation-delay: -0.5s; -moz-animation-delay: -0.5s; animation-delay: -0.5s }
.cirBox2 .cir2 { -webkit-animation-delay: -1.0s; -moz-animation-delay: -1.0s; animation-delay: -1.0s }
.cirBox2 .cir3 { -webkit-animation-delay: -0.7s; -moz-animation-delay: -0.7s; animation-delay: -0.7s }
.cirBox2 .cir4 { -webkit-animation-delay: -0.4s; -moz-animation-delay: -0.4s; animation-delay: -0.4s }
.cirBox3 .cir2 { -webkit-animation-delay: -0.9s; -moz-animation-delay: -0.9s; animation-delay: -0.9s }
.cirBox3 .cir3 { -webkit-animation-delay: -0.6s; -moz-animation-delay: -0.6s; animation-delay: -0.6s }
.cirBox3 .cir4 { -webkit-animation-delay: -0.3s; -moz-animation-delay: -0.3s; animation-delay: -0.3s }
.filesrc { width: 100%; height: 310px; padding: 80px 0; background-color: #f8f8f8; }
.filesrc a.btn.btn-default { margin: 10px; display: inline-block; }
.filesrc h4.title, .filesrc span.or, .filesrc span.dec { text-align: center; display: block; }
#login_logo { width: 100px; height: 100px; }
#footer { padding: 10px 0; background-color: #fefefe; }
#store-map { height: 300px; width: 100%; min-height: 300px; min-width: 100%; }
#Luck_draw { display: none; }
#head_img_show .input-group { margin-bottom: 15px !important; }
#imgDemo { float: right; width: 140px; height: 105px; margin: 4px; }
#login_form { border: 1px solid #ddd; background-color: #F1F1F1; padding: 20px; border-radius: 5px; }
#books-info { width: 100%; border-bottom: 1px solid #ddd; margin-bottom: 15px; }
#FrontCover { width: auto; max-width: 100%; height: auto; max-height: 190px; }
#result.intergral, .table-responsive { width: 100%; }
#result.intergral img { width: auto; max-height: 110px; margin-bottom: 5px; }
#ipone { width: auto; height: auto; position: relative; padding-bottom: 5px; }
#ipone-activity { width: 360px; height: 630px; position: relative; margin: 0 auto; }
canvas#tabmap { min-width: auto; margin-top: 160px; }
#wrapper, #wrapper .conter_body { width: 1000px; margin: 0 auto; position: relative; }
#page-wrapper { font-size: 12px; }
#MessBox { z-index: 1001; background-color: #FFF; border-radius: 8px; position: fixed; left: 50%; top: 50%; font-family: "Microsoft Yahei", "微软雅黑", Arial, Tahoma; font-size: 14px; width: 250px; height: 206px; margin-left: -125px; margin-top: -103px; }
#MessBox .dec_txt { font-size: 16px; text-align: center; color: #666; line-height: 26px; height: 26px; padding: 5px 0px 10px; box-sizing: content-box; }
#lottery_title { float: left; margin-top: -45px; width: 100%; height: 30px; margin-left: 0%; }
#lottery_title h4 { color: white; }
#lottery_title h4 span { color: #feef00; font-weight: bold; }
#lottery_title .bg { border-bottom: 40px solid #F9045C; border-left: 5px solid transparent; border-right: 5px solid transparent; position: absolute; width: 100%; top: -40px; z-index: -1; left: 50%; margin-left: -50%; }
#activity_product table tr td { background-color: white; }
#activity_info { position: absolute; top: 435px; width: 100%; left: 0; padding-bottom: 50px; z-index: 4; }
#activity_info .row { margin: 0px; padding-left: 15px; padding-right: 15px; }
#activity_info h4 { font-size: 1.6em; color: white; font-weight: normal; text-decoration: underline; }
#activity_info p { color: white; text-align: left; margin-bottom: 1em; font-size: .8em; }
#activity_info p span { font-size: 1em; }
#lottery { position: absolute; z-index: 3; top: 240px; left: 50%; margin-left: -125px; width: 250px; height: 190px; padding: 5px; background-image: url(../images/public/activity_bg.png); background-size: cover; }
#lottery td.lottery-unit { width: 60px; height: 60px; border-radius: 5px; overflow: hidden; }
#lottery td.lottery-unit img { width: 100%; height: 100%; }
#lottery td.lottery-unit span { margin: 5px; width: 50px; height: 50px; line-height: 50px; border-radius: 5px; display: block; background-color: #fb4649; }
#lottery td.lottery-unit.active span { background-color: #fe8e35; }
#Luck_draw_btn { position: absolute; left: 60px; top: 55px; z-index: 4; width: 130px; height: 75px; border: 15px solid black; background-image: url(../images/public/activity_btn.png); background-size: cover; border-radius: 5px; }
#activity_tab { margin-bottom: 20px; border-bottom: none; }
#activity_tab li { width: 25%; }
#activity_tab li.active:after { border-color: #5495EC; }
#activity_tab li a { height: 30px; line-height: 30px; padding: 0; text-align: center; width: 100%; background: #BDCEE6; color: #7A91B2; border-radius: 0; }
#activity_tab li.active a.btn-tab { background-color: #5495EC; color: white; }
#activity_tab_body { margin-left: 15px; }
#activity_tab_body > .active { padding: 20px 10px; background-color: #f2f2f2; border-radius: 5px; }
#activity_tab_body .tab-pane { border: 1px solid #CCC; }
#activity_tab_body .tab-pane:before,
#activity_tab_body .tab-pane:after { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 10px 10px 10px 0px; border-color: transparent #CCC transparent transparent; position: absolute; left: 20px; top: 30px; }
#activity_tab_body .tab-pane:after { border-right-color: #F2F2F2; margin-left: 1px; }
#winning_tab li { width: 25%; }
#winning_tab li a { width: 100%; border: 1px solid #ccc; border-bottom: none; color: #333; }
#winning_tab li.active a { background-color: white; }
#winning_tab li a:last-child { margin-right: 0px; }
#winning_tab_body { margin-top: -1px; }
#winning_tab_body .tab-pane { border-radius: 0px 0px 4px 4px; }
#music-admin-table tr td .play-btn { color: #777; }
#music-admin-table tr td .play-btn:hover { color: #333; }
#music-admin-table tr.active td .play-btn { color: #5bc0de; }
#show-box { position: fixed; right: 1em; top: 1em; left: 1em; bottom: 1em; z-index: 9999; display: none; background-color: rgba(0, 0, 0, .7); }
#show-box.open { display: block; }
#show-box video, #show-box embed { width: 600px; height: 460px; position: absolute; left: 50%; top: 50%; margin-left: -300px; margin-top: -230px; background-color: black; padding: 25px 0px; border-radius: 10px; }
#show-box i.fa-close { z-index: 1; width: 21px; height: 20px; border: 2px solid white; position: absolute; top: 1px; right: 1px; cursor: pointer; text-align: center; vertical-align: middle; line-height: 16px; border-radius: 50%; color: white; left: 50%; top: 50%; margin-left: 275px; margin-top: -225px; }
#Delete-Item { display: none; position: fixed; width: 300px; max-height: 150px; z-index: 15; background-color: white; top: 50%; margin-top: -100px; left: 50%; margin-left: -150px; padding: 1em; border-radius: 15px; }
#Delete-Item.open { display: block; }
#Delete-Item.open~.bg-msak { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, .3); z-index: 14; }
#Delete-Item span.info { display: block; max-height: 85px; line-height: 30px; padding: 1em; overflow: hidden; width: 100%; }
#Delete-Item a { margin: 0 15px; }
#FileAdminBox { width: 1100px; height: 500px; position: fixed; top: 50%; left: 50%; margin-left: -550px; margin-top: -250px; background-color: white; border-radius: 15px; z-index: 11; display: none; padding: 15px; }
#FileAdminBox~.msak { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, .7); z-index: 10; display: none; }
#FileAdminBox.open { display: block; }
#FileAdminBox.open~.msak { display: block; }
#FileAdminBox .list,
#FileAdminBox .list-group-item { border: none; }
#FileAdminBox .nav-left { width: 160px; float: left; margin: 0; padding: 0; border: 1px solid #ddd; border-bottom: none; border-radius: 10px 0 0 10px; overflow: hidden; margin-right: -1px; }
#FileAdminBox .nav-left li { width: 100%; height: 40px; line-height: 40px; float: left; text-align: left; margin: 0; padding: 0; background-color: transparent; border-bottom: 1px solid #ddd; -webkit-transition: all ease .3s; -o-transition: all ease .3s; transition: all ease .3s; }
#FileAdminBox .nav-left li.active { background-color: #00a0d2; border-color: #0073aa; }
#FileAdminBox .nav-left li.active a,
#FileAdminBox .nav-left li.active a span.num { color: white; }
#FileAdminBox .nav-left a { margin: 0; padding: 0 0 0 10px; border: 0; text-align: left; background-color: transparent; color: #777; height: 40px; line-height: 40px; -webkit-transition: all ease .3s; -o-transition: all ease .3s; transition: all ease .3s; }
#FileAdminBox .nav-left a span.num { float: right; margin-right: 10px; color: #777; }
#FileAdminBox .nav-left li:hover,
#FileAdminBox .nav-left li:hover a,
#FileAdminBox .nav-left li:hover a span.num { color: #000; }
#FileAdminBox .tab-right { width: 910px; float: left; margin: 0; padding: 0; border: 1px solid #ddd; border-radius: 0 10px 10px 0; }
#FileAdminBox .tab-right .tab-box { float: left; width: 100%; height: 100%; padding: 10px; }
#FileAdminBox .tab-right .box-header { float: left; width: 100%; height: 50px; line-height: 50px; text-align: left; padding-left: 15px; padding-right: 15px; }
#FileAdminBox .tab-right .box-header .close { position: relative; top: 10px; right: 0px; }
#FileAdminBox .tab-right .box-body { float: left; width: 100%; height: 400px; padding-left: 15px; padding-right: 15px; text-align: center; }
#FileAdminBox .tab-right .box-footer { float: left; margin-top: 10px; width: 100%; height: 40px; line-height: 40px; text-align: right; padding-left: 15px; padding-right: 15px; padding-top: 3px; }
#FileAdminBox .tab-right .box-footer .file-page ul.pagination { margin: 0 15px; display: inline-block; }
#FileAdminBox .tab-right .box-footer a.btn.btn-info { float: right; }
#FileAdminBox .tab-right .box-body .annex-detail { float: right; width: 245px; height: 310px; text-align: left; display: block; }
#FileAdminBox .tab-right .box-body .annex-detail .detail-info { margin-top: 10px; }
#FileAdminBox .tab-right .box-body .annex-detail .detail-info .input-group { margin-bottom: 5px; width: 100%; }
/*#FileAdminBox .tab-right .box-body .annex-detail .dropdown-menu { left: auto; right: 0; }*/
#FileAdminBox .tab-right .box-body .tab-content { background-color: white; }
#FileAdminBox .tab-right .box-body .tab-content #src-tab { width: 860px; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
#FileAdminBox .tab-right .box-body .tab-pane { border: 1px solid #ddd; border-top: none; border-radius: 0 0 5px 5px; height: 356px; border-right: none; border-bottom: none; }
#FileAdminBox .tab-right .box-body .img-admin#result { width: 100%; }
#FileAdminBox .tab-right .box-body .img-admin#result .progress { margin: 145px; background-color: white; box-shadow: 0.5px 1.5px 1.5px black; display: none; }
#FileAdminBox .tab-right .box-body .img-admin#result .progress.leading { display: block; }
#FileAdminBox .tab-right .box-body .img-admin#result .img-item { width: 17%; }
#FileAdminBox .tab-right .box-body .img-admin { width: 600px; overflow: hidden; height: 310px; margin: 0; background-color: #f8f8f8; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; border-radius: 0 0 5px 0; }
#FileAdminBox .tab-right .box-body .img-admin:after { content: ""; clear: both; }
#FileAdminBox .tab-right .box-body .img-item { width: 21%; height: 145px; float: left; cursor: pointer; border: 3px solid #f8f8f8; margin: 5px 1.5% 0 1.5%; border-radius: 10px; position: relative; -webkit-transition: all ease .3s; -o-transition: all ease .3s; transition: all ease .3s; }
#FileAdminBox .tab-right .box-body .img-item:hover { border-color: #ddd; }
#FileAdminBox .tab-right .box-body .img-item i.fa.fa-check { display: none; }
#FileAdminBox .tab-right .box-body .img-item i.fa.fa-trash-o { position: absolute; right: 1px; top: 1px; background-color: transparent; width: 22px; height: 22px; border-radius: 40%; text-align: center; line-height: 22px; color: #bbb; }
#FileAdminBox .tab-right .box-body .img-item.active { border: 3px solid #0073aa; }
#FileAdminBox .tab-right .box-body .img-item.active i.fa.fa-check { display: block; position: absolute; right: 0; bottom: 0; width: 15px; height: 15px; background-color: transparent; z-index: 2; color: white; }
#FileAdminBox .tab-right .box-body .img-item.active i.fa.fa-trash-o { color: #0073aa; }
#FileAdminBox .tab-right .box-body .img-item.active:hover i.fa.fa-check:before { content: "\f068"; }
#FileAdminBox .tab-right .box-body .img-item.active:after { content: ""; position: absolute; right: 0; bottom: 0; border-top: 25px solid transparent; border-right: 25px solid #0073aa; }
#FileAdminBox .tab-right .box-body .img-item img.img-small { max-width: 110px; max-height: 110px; margin-top: 5px; }
#FileAdminBox .tab-right .box-body .img-item span.title { position: absolute; left: 0; bottom: 0; width: 100%; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; text-overflow: ellipsis; font-size: .8em; padding: 3px 15px; }
#FileAdminBox .tab-right .box-body .img-item .fa.fa-play-circle { width: 60px; height: 60px; margin: 30px auto 25px; font-size: 450%; line-height: 60px; }
@media ( min-width:768px ) {
    #page-wrapper { padding: 15px; width: auto; }
    .left-nav { position: fixed; width: 150px; left: 50%; margin-left: -500px; top: 51px; height: auto; border-radius: 0; padding: 0; border: none; border-radius: 0; background-color: transparent; box-shadow: none; -webkit-box-shadow: none; display: none; }
    .left-nav > li { height: auto; width: auto; padding: 1px; }
    .left-nav.show { display: block; }
    .left-nav > li > a,.left-nav > li > .dropdown-menu > li > a { padding: 15px 15px 15px 25px; color: #A0A0A0; background-color: transparent; width: 150px; display: block; clear: both; white-space: nowrap; border: none; border-radius: 0; background-color: transparent; box-shadow: none; -webkit-box-shadow: none; }
    .left-nav > li > a:hover { color: #f60; background-color: transparent; }
}