.close_bomb { position: relative; width: auto; margin: 0 auto; display: inline-block; }
.close_box { position: absolute; opacity: 0; display: none; width: 300px; height: 44px; right: 60px; top: -7px; border-radius: 4px; background-color: white; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); padding: 4px 6px; vertical-align: middle; }
.app-fields .close_box { right: 35px; bottom: 0; top: auto; }
.close_box span.colse_txt { float: left; width: 160px; line-height: 1.8em; padding: 6px 12px; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; display: inline-block; }
.app-fields .close_box span.colse_txt { padding:6px 12px; background: white; color:black }
.close_box.in { opacity: 1; display: block; z-index: 999; transition: opacity 0.15s linear 0s; }
.navbar-default .navbar-nav > li > .close_bomb > a { padding: 15px; color: #777 !important; }
.navbar-default .navbar-nav > li > .close_bomb > a:hover { color: #f60 !important; }
.close_box#all { left: 60px; right: 0px; top: 0px; }