<div class="row">
    <div class="col-lg-12" id="js-module-pagegroup">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <div class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入音频分组名" ng-model="queryaudio"></div>
                        <a href="javascript:;" class="btn btn-info">查询</a>
                    </div>
                </div>
            </div>
        </nav>
        <table class="table table-condensed table-hover" ng-controller="audioGrouptList">
            <thead>
                <tr>
                    <th class="text-center">音频分组</th>
                    <th class="text-center">音频数量</th>
                    <th class="text-center">跟新时间</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr ng-repeat="audio in audioGrups | filter:queryaudio" data-id="{{audio.id}}" data-title="{{audio.name}}" data-url="{{audio.src}}">
                    <td>{{audio.name}}</td>
                    <td>{{audio.course}}</td>
                    <td>{{audio.time}}</td>
                    <td><a class="btn js-choose" href="javascript:;">选取</a></td>
                </tr>
            </tbody>
        </table>
        <div class="modal-footer clearfix">
            <div style="display:none;" class="js-confirm-choose pull-left">
                <a class="btn btn-primary" href="javascript:;">确定使用</a>
            </div>
            <ul class="pagination pagination"></ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    function audioGrouptList($scope) {
        $scope.audioGrups = [
            {
                id: 1,
                sort: 1,
                name: "音频分组A",
                course: 4,
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/videogroup.html?videogroupid=1",
            },
            {
                id: 2,
                sort: 2,
                name: "音频分组B",
                course: 3,
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/videogroup.html?videogroupid=2",
            },
            {
                id: 3,
                sort: 3,
                name: "音频分组C",
                course: 2,
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/videogroup.html?videogroupid=3",
            }
        ];
    }
</script>
<script type="text/javascript" src="AngularData/Angular.min.js"></script>
<script type="text/javascript">
$.jqPaginator('.pagination', {
    totalPages: 3,
    visiblePages: 3,
    currentPage: 3,
    prev: '<li class="prev"><a href="javascript:;">&laquo;</a></li>',
    next: '<li class="next"><a href="javascript:;">&raquo;</a></li>',
    page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
    onPageChange: function(num, type) {
        //$('#pagetitle').text(type + '：' + num);
    }
});
</script>