<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#picTab" aria-controls="picTab" role="tab" data-toggle="tab">选择图片</a></li>
    <!-- <li role="presentation"><a href="#newPicTab" aria-controls="newPicTab" role="tab" data-toggle="tab">新图片</a></li> -->
</ul>
<div class="tab-content" id="js-module-goods">
    <div role="tabpanel" class="tab-pane active" id="picTab">
        <div class="widget-list widget-attachment">
            <div class="modal-body">
                <div class="category-list-region js-category-list-region">
                    <ul class="category-list" ng-controller="picsModal">
                        <li ng-repeat="imglist in imagelists" class="js-category-item" id="{{imglist.id}}"> {{imglist.categroyname}} <span>{{imglist.picsize}}</span></li>
                    </ul>
                </div>
                <div class="attachment-list-region js-attachment-list-region" ng-controller="picsModal">
                    <ul class="image-list" ng-repeat="imglist in imagelists" id="{{imglist.id}}">
                        <li class="image-item js-image-item" ng-repeat="pic in imglist.pics" data-src="{{pic.src}}">
                            <div class="image-box" style="background-image: url({{pic.src}})"></div>
                            <div class="image-meta">{{pic.name}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <div style="display:none;" class="js-confirm-choose pull-left">
                    <a class="btn btn-primary" href="javascript:;">确定使用</a>
                </div>
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
    <!--  <div role="tabpanel" class="tab-pane" id="newPicTab">
        <div class="js-upload-network-region">
            <div>
                <div class="modal-body">
                    <div class="get-web-img js-get-web-img">
                        <form class="form-horizontal" onsubmit="return false;">
                            <div class="control-group">
                                <label class="control-label">网络图片：</label>
                                <div class="controls">
                                    <input name="attachment_url" class="get-web-img-input js-web-img-input" placeholder="请贴入网络图片地址" value="" type="text">
                                    <input class="btn js-upload-network-img" data-loading-text="提取中..." value="提取" type="button">
                                </div>
                                <div class="controls preview-container"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       <div class="js-upload-local-region">
            <div>
                <div class="modal-body">
                    <div class="upload-local-img">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">本地图片：</label>
                                <div class="controls">
                                    <div class="control-action">
                                        <ul class="js-upload-image-list upload-image-list clearfix ui-sortable">
                                            <li class="fileinput-button js-add-image"><a class="fileinput-button-icon" href="javascript:;">+</a>
                                                <input class="js-fileupload-input fileupload" multiple="" type="file">
                                            </li>
                                        </ul>
                                        <p class="help-desc">最大支持 1 MB 的图片( jpg / gif / png )，不能选中大于 1 MB 的图片</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-action pull-right">
                        <input class="btn btn-primary js-upload-image" data-loading-text="上传中..." value="确定上传" type="button">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<script type="text/javascript" src="view-app/dialog/imgdata.js">
</script>
<script type="text/javascript" src="AngularData/Angular.min.js"></script>
<script type="text/javascript">
$(function() {
    $("ul.category-list .js-category-item").eq(0).addClass('active');
    $("ul.image-list").eq(0).addClass('active');
    $("#picTab .category-list .js-category-item").click(function() {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active').siblings().removeClass('active');
            $("#picTab ul.image-list").eq($(this).index()).addClass('active').siblings().removeClass('active');
        }
    });
    $.jqPaginator('.pagination', {
        totalPages: 3,
        visiblePages: 1,
        currentPage: 1,
        prev: '<li class="prev"><a href="javascript:;">&laquo;</a></li>',
        next: '<li class="next"><a href="javascript:;">&raquo;</a></li>',
        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
        onPageChange: function(num, type) {
            //$('#pagetitle').text(type + '：' + num);
        }
    });
})
</script>
