<div class="row">
    <div class="col-lg-12" id="js-module-pagegroup">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <div class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入页面标题" ng-model="querypage"></div>
                        <a href="javascript:;" class="btn btn-info">查询</a>
                    </div>
                </div>
            </div>
        </nav>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-left">页面标题</th>
                    <th class="text-center">页面分类</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody class="text-center" ng-controller="pageModal">
                <tr ng-repeat="page in Pages | filter:querypage" data-id="{{page.id}}" data-title="{{page.title}}" data-url="{{page.src}}">
                    <td class="length text-left">{{page.title}}</td>
                    <td>{{page.categroy}}</td>
                    <td>{{page.time}}</td>
                    <td><a class="btn js-choose" href="javascript:;">选取</a></td>
                </tr>
            </tbody>
        </table>
        <div class="modal-footer clearfix">
            <div style="display:none;" class="js-confirm-choose pull-left">
                <a class="btn btn-primary" href="javascript:;">确定使用</a>
            </div>
            <ul class="pagination pagination"></ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    function pageModal($scope) {
        $scope.Pages = [
            {
                id: 1,
                title: "第2问：怎样与装饰公司展开合作？",
                categroy: "必答",
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/page.html?pageid=1",
            },
            {
                id: 2,
                title: "第1问：顾客自己很喜欢，但同行的人却不买账。",
                categroy: "必答",
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/page.html?pageid=2",
            },
            {
                id: 3,
                title: "早会第2讲：大佬玩营销",
                categroy: "早会内容",
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/page.html?pageid=3",
            },
            {
                id: 4,
                title: "早会第2讲：大佬玩营销",
                categroy: "早会内容",
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/page.html?pageid=4",
            },
            {
                id: 5,
                title: "转型：互联网+时代的企业突破之路（下）",
                categroy: "启峰书院",
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/page.html?pageid=5",
            },
            {
                id: 6,
                title: "转型：互联网+时代的企业突破之路（上）",
                categroy: "启峰书院",
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/page.html?pageid=6",
            },
            {
                id: 7,
                title: "定位——有史以来对美国营销影响最大的观念",
                categroy: "启峰书院",
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/page.html?pageid=7",
            },
            {
                id: 8,
                title: "超预期",
                categroy: "启峰书院",
                time: new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate(),
                src: "plugins/bootstrap-dialog/page.html?pageid=8",
            },
        ];
    }
</script>
<script type="text/javascript" src="AngularData/Angular.min.js"></script>
<script type="text/javascript">
$.jqPaginator('.pagination', {
    totalPages: 3,
    visiblePages: 3,
    currentPage: 3,
    prev: '<li class="prev"><a href="javascript:;">&laquo;</a></li>',
    next: '<li class="next"><a href="javascript:;">&raquo;</a></li>',
    page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
    onPageChange: function(num, type) {
        //$('#pagetitle').text(type + '：' + num);
    }
});
</script>